<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart Nexus</title>
</head>
<body>

    <h1>Carts for: <span data-th-text="${userId}"></span></h1>
    <ol>
        <!-- {ids} being a Set<String> of contacts -->
            <!-- s being status of the iteration, s.index to print out index (not really necessary) -->
            <li data-th-each="c, s:${Carts}">
                <a data-th-href="@{/carts/{cartId}(cartId=${c.key})}" th:text="'Cart: ' + ${c.key} + '  [' + ${c.value.totalQuantity} + ']' ">
                    <!-- using the toString method in the Cart class -->
                    <h4><code data-th-text="${c}"></code></h4>
                </a>
            </li>
        </ol>

        <form method="POST" action="/carts/create">
            <table>
                <tr>
                    <td>
                        <button type="submit"> add new cart </button>
                    </td>
                 </tr>
        
            </table>
        </form>

    
</body>
</html>