<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Welcome to Costco</h1>
    
    <form method="POST" action="/carts" data-th-object="${user}">
        <table>
            <tr>
                <td>User ID:</td>
                <td><input type="text" data-th-field="*{userId}" required></td>
                <p data-th-if ="${#fields.hasErrors('userId')}"
                    data-th-text="${#fields.errors('userId')}">
                    <!-- data-th-text="${#fields.errors('userId')}"> -->
                </p>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit"> Go </button>
                </td>
             </tr>
    
        </table>
    </form>




</body>
</html>